{% extends 'page.html' %}
{% load custom_template_tags %}
{% block pagecontent %}
<div class="container">
    <div class="row mb-5 p-4 rounded-10 shadow bg-light">
        <div class="col">
            <h2>{{ pagetitle }}</h2>
        </div>
    </div>
    <div class="row mb-5 p-4 rounded-10 shadow bg-light row-cols-1 row-cols-md-3 g-2">
      {% for content in contents %}
          {% with card=content %}
              <div class="col">
                  {% include 'cardSm.html' %}
              </div>
          {% endwith %}
      {% endfor %}
    </div>
</div>
{% endblock %}