<div class="card mb-3 bg-white h-100 border-0 rounded-10">
  <div class="row h-100">
      {% if card.img.url %}
      <div class="col-md-4 card-image-hr rounded-10">
          <a href="/{{ card.type.slug }}/{{ card.id }}">
              <div class="square rounded-10" style="background-image: url('{{ card.img.url }}')"></div>
          </a>
      </div>
      {% else %}
        {% widthratio char 1 "3" as char %}
      {% endif %}
      <div class="col">
          <div class="card-body bg-white border-1 rounded-end h-100">
                <h5 class="card-title "><a class="text-reset" href="/contents/{{ card.id }}">{{ card.title }}</a></h5>
                <p class="card-text">
                    {% if card.authors.all %}
                    <i class="bi bi-person-lines-fill"></i>
                    {% for author in card.authors.all %}
                    <a class="text-reset" href="/authors/{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</a>
                    {% endfor %}<br>
                    {% endif %}
                    {% if card.publication %}
                    <i class="bi bi-card-heading"></i> <a class="text-reset" href="/publications/{{ card.publication.id }}">{{ card.publication.title }}</a><br>
                    {% endif %}
                    {% if card.pdf_file.url %}
                    <a class="text-reset" href="{{ card.pdf_file.url }}" target="_blank"><i class="bi bi-filetype-pdf"></i> دانلود</a> |
                    {% endif %}
                     <i class="bi bi-calendar3"></i> {% if card.pub_date_d %}{{ card.pub_date_d }} {% endif %}{% if card.get_pub_date_m_display %}{{ card.get_pub_date_m_display }} {% endif %}{% if card.pub_date_y %}{{ card.pub_date_y }}{% endif %}
                </p>
          </div>
      </div>
  </div>
</div>