      <div class="row">
          <div class="col-sm-8">
              <div class="row mb-3">
                  <div class="col-12">
                    {% with card=contents.0 char=576 %}
                      {% include 'cardHr.html' %}
                    {% endwith %}
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    {% with card=contents.1 char=288  %}
                      {% include 'cardHr.html' %}
                    {% endwith %}
                  </div>
                  <div class="col-sm-6">
                    {% with card=contents.2 char=288 %}
                      {% include 'cardHr.html' %}
                    {% endwith %}
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="accordion p-0 accordion-flush" id="accordionPiece">
            {% for piece in contents %}
              {% if forloop.counter > 3 %}
                {% with card=piece %}
                  {% include 'cardSm.html' %}
                {% endwith %}
              {% endif %}
            {% endfor %}
            </div>
          </div>
      </div>